.main {
  background: #fff;
}
.app-content {
  background: #F5F6FA;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 0 1 auto;
  overflow-y: auto;
}
