.logo-container {
  display: flex;
  align-items: center;

}
.app-logo {
  width: 60px;
  height: 60px;
  background-image: url("./logo.jpg");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-left: 65px;
}
.header-text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
